@keyframes fadeInImg {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  

  &__top {
    background: #bca69d;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__background {
    width: 100%;
    height: 300px;
    background-image: url("../../img/pic-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 40.8px;
    // font-family: 'Cinzel', serif;
  }
}

.logo {
  cursor: pointer;
  object-fit: contain;
  animation: fadeInImg 1.5s cubic-bezier(0.23, 1, 0.32, 1) 0.1s 1 normal forwards;
  margin-left: 10px;
}

.menu {
  

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }
}

a {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.sign-in {
  position: relative;

  &__button {
    cursor: pointer;
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: whitesmoke;
    color: rgb(45, 32, 16);
    border: none;
    border-radius: 10px;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px rgb(45, 32, 16);
    transition: 0.7s;
    right: 10px;
  }
}
