.footer {
    background-color: #fefcf5;
    padding: 40px 0;
  }
  
  .footer-top {
    background-image: url("../../img/footer.jpg");
    text-align: center;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-top h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-top p {
    color: #666;
    font-size: 16px;
  }
  
  .order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    color: #333;
    font-size: 16px;
  }
  
  input,
  textarea {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  textarea {
    height: 200px;
  }
  
  .submit-btn {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background-color: #ffd700;
    color: #fff;
    font-size: 16px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .footer-bottom {
    background-color: #000;
    padding: 10px;
    text-align: right;
  }
  
  .footer-bottom p {
    color: #fff;
    font-size: 14px;
  }
  